.project
.settings
.metadata
salesforce.schema
Referenced Packages
*.sublime-project
*.sublime-settings
*.sublime-workspace
apex-scripts/log
build.properties
config
mm.log
debug
*.iml
.idea
IlluminatedCloud
out
**/.localHistory
*.sfuo
TestCache.xml
TestsResultsCache.xml
/${metadata.directory}/
session.properties
deploy
sfpackage.config
UML/src
emp.sh